<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot-ssm:war exploded">
    <output-path>$PROJECT_DIR$/target/springboot-ssm-0.0.1-SNAPSHOT</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springboot-ssm</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-ssm" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.flywaydb:flyway-core:6.3.3" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-web:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-logging:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.2.3" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.2.3" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-to-slf4j:2.13.3" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-api:2.13.3" />
          <element id="library" level="project" name="Maven: org.slf4j:jul-to-slf4j:1.7.30" />
          <element id="library" level="project" name="Maven: org.yaml:snakeyaml:1.26" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-json:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.11.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.11.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.11.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.datatype:jackson-datatype-jdk8:2.11.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.datatype:jackson-datatype-jsr310:2.11.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.module:jackson-module-parameter-names:2.11.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: jakarta.annotation:jakarta.annotation-api:1.3.5" />
          <element id="library" level="project" name="Maven: jakarta.xml.bind:jakarta.xml.bind-api:2.3.3" />
          <element id="library" level="project" name="Maven: org.hamcrest:hamcrest:2.2" />
          <element id="library" level="project" name="Maven: net.bytebuddy:byte-buddy:1.10.11" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: com.baomidou:mybatis-plus-boot-starter:3.3.2" />
          <element id="library" level="project" name="Maven: com.baomidou:mybatis-plus:3.3.2" />
          <element id="library" level="project" name="Maven: com.baomidou:mybatis-plus-extension:3.3.2" />
          <element id="library" level="project" name="Maven: com.baomidou:mybatis-plus-core:3.3.2" />
          <element id="library" level="project" name="Maven: com.baomidou:mybatis-plus-annotation:3.3.2" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.4" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:2.0.4" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-autoconfigure:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.6" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-data-jpa:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: jakarta.transaction:jakarta.transaction-api:1.3.3" />
          <element id="library" level="project" name="Maven: jakarta.persistence:jakarta.persistence-api:2.2.3" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-core:5.4.17.Final" />
          <element id="library" level="project" name="Maven: org.jboss.logging:jboss-logging:3.4.1.Final" />
          <element id="library" level="project" name="Maven: org.javassist:javassist:3.24.0-GA" />
          <element id="library" level="project" name="Maven: antlr:antlr:2.7.7" />
          <element id="library" level="project" name="Maven: org.jboss:jandex:2.1.3.Final" />
          <element id="library" level="project" name="Maven: com.fasterxml:classmate:1.5.1" />
          <element id="library" level="project" name="Maven: org.dom4j:dom4j:2.1.3" />
          <element id="library" level="project" name="Maven: org.hibernate.common:hibernate-commons-annotations:5.1.0.Final" />
          <element id="library" level="project" name="Maven: org.glassfish.jaxb:jaxb-runtime:2.3.3" />
          <element id="library" level="project" name="Maven: org.glassfish.jaxb:txw2:2.3.3" />
          <element id="library" level="project" name="Maven: com.sun.istack:istack-commons-runtime:3.0.11" />
          <element id="library" level="project" name="Maven: com.sun.activation:jakarta.activation:1.2.2" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-jpa:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-commons:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-orm:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aspects:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-jdbc:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: com.zaxxer:HikariCP:3.4.5" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-aop:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.9.5" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-data-redis:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-redis:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-keyvalue:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-oxm:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: io.lettuce:lettuce-core:5.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: io.netty:netty-common:4.1.50.Final" />
          <element id="library" level="project" name="Maven: io.netty:netty-handler:4.1.50.Final" />
          <element id="library" level="project" name="Maven: io.netty:netty-resolver:4.1.50.Final" />
          <element id="library" level="project" name="Maven: io.netty:netty-buffer:4.1.50.Final" />
          <element id="library" level="project" name="Maven: io.netty:netty-codec:4.1.50.Final" />
          <element id="library" level="project" name="Maven: io.netty:netty-transport:4.1.50.Final" />
          <element id="library" level="project" name="Maven: io.projectreactor:reactor-core:3.3.6.RELEASE" />
          <element id="library" level="project" name="Maven: com.github.pagehelper:pagehelper:5.1.2" />
          <element id="library" level="project" name="Maven: com.github.jsqlparser:jsqlparser:1.0" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-freemarker:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.freemarker:freemarker:2.3.30" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-thymeleaf:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf-spring5:3.0.11.RELEASE" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf:3.0.11.RELEASE" />
          <element id="library" level="project" name="Maven: org.attoparser:attoparser:2.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.unbescape:unbescape:1.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.thymeleaf.extras:thymeleaf-extras-java8time:3.0.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-core:5.7.0" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.30" />
          <element id="library" level="project" name="Maven: org.apache.geronimo.specs:geronimo-jms_1.1_spec:1.1.1" />
          <element id="library" level="project" name="Maven: org.apache.activemq:kahadb:5.7.0" />
          <element id="library" level="project" name="Maven: org.apache.activemq.protobuf:activemq-protobuf:1.1" />
          <element id="library" level="project" name="Maven: org.fusesource.mqtt-client:mqtt-client:1.3" />
          <element id="library" level="project" name="Maven: org.fusesource.hawtdispatch:hawtdispatch-transport:1.11" />
          <element id="library" level="project" name="Maven: org.fusesource.hawtdispatch:hawtdispatch:1.11" />
          <element id="library" level="project" name="Maven: org.fusesource.hawtbuf:hawtbuf:1.9" />
          <element id="library" level="project" name="Maven: org.apache.geronimo.specs:geronimo-j2ee-management_1.1_spec:1.0.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: commons-net:commons-net:3.1" />
          <element id="library" level="project" name="Maven: org.jasypt:jasypt:1.9.0" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-activemq:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jms:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-broker:5.15.12" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-openwire-legacy:5.15.12" />
          <element id="library" level="project" name="Maven: jakarta.jms:jakarta.jms-api:2.0.3" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-pool:5.15.12" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-jms-pool:5.15.12" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-client:5.15.12" />
          <element id="library" level="project" name="Maven: org.apache.geronimo.specs:geronimo-jta_1.1_spec:1.1.1" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-pool2:2.8.0" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-lang3:3.4" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.4" />
          <element id="library" level="project" name="Maven: commons-collections:commons-collections:3.2" />
          <element id="library" level="project" name="Maven: commons-lang:commons-lang:2.6" />
          <element id="library" level="project" name="Maven: com.alibaba:fastjson:1.2.56" />
          <element id="library" level="project" name="Maven: dom4j:dom4j:1.6.1" />
          <element id="library" level="project" name="Maven: xml-apis:xml-apis:1.0.b2" />
          <element id="library" level="project" name="Maven: com.thoughtworks.xstream:xstream:1.4.10" />
          <element id="library" level="project" name="Maven: xmlpull:xmlpull:1.1.3.1" />
          <element id="library" level="project" name="Maven: xpp3:xpp3_min:1.1.4c" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpclient:4.3.1" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpcore:4.4.13" />
          <element id="library" level="project" name="Maven: commons-codec:commons-codec:1.14" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpmime:4.3.1" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-websocket:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-messaging:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-websocket:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-spring:1.3.2" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-core:1.3.2" />
          <element id="library" level="project" name="Maven: commons-beanutils:commons-beanutils:1.8.3" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-web:1.3.2" />
          <element id="library" level="project" name="Maven: com.github.theborakompanioni:thymeleaf-extras-shiro:1.2.1" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-dbcp2:2.7.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:sharding-jdbc-spring-boot-starter:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:sharding-spring-boot-util:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:sharding-core-common:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-spi:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-sql-parser-relation:4.0.0" />
          <element id="library" level="project" name="Maven: org.antlr:antlr4-runtime:4.7.2" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:sharding-core-api:4.0.0" />
          <element id="library" level="project" name="Maven: org.codehaus.groovy:groovy:indy:2.4.5" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:sharding-jdbc-core:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:sharding-core-entry:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-sql-parser-engine:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-sql-parser-spi:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-collections4:4.2" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-sql-parser-sql92:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-sql-parser-mysql:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-sql-parser-postgresql:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-sql-parser-oracle:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-sql-parser-sqlserver:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:sharding-core-route:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:sharding-core-rewrite:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-rewrite-engine:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:encrypt-core-rewrite:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:sharding-core-execute:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-execute:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:sharding-core-merge:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:shardingsphere-merge:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:encrypt-core-merge:4.0.0" />
          <element id="library" level="project" name="Maven: org.apache.shardingsphere:sharding-transaction-core:4.0.0" />
          <element id="library" level="project" name="Maven: com.google.guava:guava:18.0" />
          <element id="library" level="project" name="Maven: org.slf4j:jcl-over-slf4j:1.7.30" />
          <element id="library" level="project" name="Maven: com.alibaba:druid:1.1.22" />
          <element id="library" level="project" name="Maven: junit:junit:4.13" />
          <element id="library" level="project" name="Maven: org.hamcrest:hamcrest-core:2.2" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-jooq:2.3.1.RELEASE" />
          <element id="library" level="project" name="Maven: jakarta.activation:jakarta.activation-api:1.2.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.jooq:jooq:3.13.2" />
          <element id="library" level="project" name="Maven: org.reactivestreams:reactive-streams:1.0.3" />
          <element id="library" level="project" name="Maven: org.jooq:jooq-meta:3.12.4" />
          <element id="library" level="project" name="Maven: org.jooq:jooq-codegen:3.12.4" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springboot-ssm-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springboot-ssm/web/Web" />
    </root>
  </artifact>
</component>